services:
  frontend:
    build: ../frontend
    ports: ["3000:3000"]
    depends_on: [backend]

  backend:
    build: ./
    ports: ["4000:4000"]
    environment:
      REDIS_URL: redis://redis:6379
      DB_HOST: db
      DB_PORT: 5432
    depends_on: [redis, db]

  redis:
    image: redis:7
  



  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
